/*
	Theme Colors...
	Light Color: B8E6FF
	Medium Light: 9FDDFF
	Medium dark: 7FD2FF
	Dark color: 2C7EAA

	Event colors...
	Default: rgba(0, 153, 153, .4)
	Appointment: rgba(255, 0, 0, .4)
	Meeting: rgba(255, 116, 0, .4)
	Business: rgba(0, 204, 0, .4)
*/

.CalendarJS{
	margin:0;
	padding: 0;
	height: 100%;
    width: 100%;
    user-select: none;
/*	position: relative;*/
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    font-weight: 300;
    text-align: center;
    cursor: default;
}

.cjs-calHeader{
	width:100%;
	color: #000000;
	margin:0;
	padding:0 0 2px 0 !important;
}

.cjs-right{
	border-right: 1px solid #000000;
	box-sizing: border-box;
}

.cjs-top{
	border-top: 1px solid #000000;
	box-sizing: border-box;
}

.cjs-left{
	border-left: 1px solid #000000;
	box-sizing: border-box;
}

.cjs-bottom{
	border-bottom: 1px solid #000000;
	box-sizing: border-box;
}

.cjs-top-left{
	border-top-left-radius: 3px;
	box-sizing: border-box;
}

.cjs-top-right{
	border-top-right-radius: 3px;
	box-sizing: border-box;
}

.cjs-bottom-left{
	border-bottom-left-radius: 3px;
	box-sizing: border-box;
}

.cjs-bottom-right{
	border-bottom-right-radius: 3px;
	box-sizing: border-box;
}

.cjs-hidden{
	display:none !important;
}

.cjs-dayCol{
	float:left;
    position: relative;
	height: auto;
    width: calc(100% / 7);
    padding: 0% 0% calc(100% / 7) 0%; /* = width for a 1:1 aspect ratio */
    margin: 0;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; 
	overflow:hidden;
	background-color: #FFFFFF;
	text-align: left;
}

.cjs-dayContent{
	color: #000000;
	position: absolute;
    height: calc(100% - 5px); /* 90%; /* = 100% - 2*5% padding */
    width: calc(100% - 5px); /*90%; /* = 100% - 2*5% padding */
    padding: 0;
	margin:0;
}

.cjs-dayHeader{
	padding: 0;
	margin:0;
	height: calc(100% / 7);
	font-size:1.2em;
	font-weight: bold;
	background-color: #FFFFFF;
	color: #000000;
	text-align: center;
}

.cjs-dayHeaderCell{
	padding:3px;
	margin: 0;
}

.cjs-dayTable{
	display: table;
    width: calc(100% - 5px);
    height: calc(100% - 5px);
	margin: 5px;
	padding: 0;
}

.cjs-dayCell{
	display:table-cell;
    vertical-align:top;
	padding:0;
	margin:0;
}

.cjs-blankday{
	background-color: #FFFFFF;
}

.cjs-prevLink{
	float:left;
	font-size:1.2em;
	margin:0;
	border-radius: 3px;
	padding: 1px 5px;
	border: 1px solid;
	box-sizing: border-box;
	font-weight:600;
}

.cjs-nextLink{
	float:right;
	font-size:1.2em;
	margin:0;
	border-radius: 3px;
	padding: 1px 5px;
	border: 1px solid;
	box-sizing: border-box;
	font-weight:600;
}

.cjs-clearfix{
	clear:both;
	margin:-2px 0;
	padding:1px;
	height:0;
	width:0;
	border:0;
}

.cjs-monthTitle{
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.cjs-prevLink:hover, .cjs-nextLink:hover{
	cursor: pointer;
	color: #212121;
}

.cjs-calEvent:hover{
	box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.3);
}

.cjs-otherEvents:hover{
	box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.3);
}

/* .cjs-calDay:hover{
	background: #9FDDFF;
	cursor: pointer;
} */

.cjs-active{
	background: #7FD2FF;
	border-color: #B8E6FF;
}

.cjs-dateLabel{
	font-size:1.2em;
	font-weight: bold;
	margin:0;
	padding:0;
}

.cjs-otherEvents{
	margin:0;
	padding:0;
	float: right;
	--otherEventHeight: auto;
	height: var(--otherEventHeight);
	font-size:1em;
	background: #7FD2FF;
	border-radius: 99px;
	padding: 1px 2px;
	color: #000000;
}

.cjs-calEvent{
	position: absolute;
	top:0px;
	left:0px;
	width:10px;
	height: 20px;
	font-size:1.2em;
	font-weight: bold;
	border-radius: 3px;
	padding: 1px 2px;
	color: #000000;
	text-align:center;
	margin:initial;
	border: 1.5px solid;
	cursor: pointer;
	box-sizing: border-box;

	--progress: 0%;
	background: -webkit-linear-gradient(bottom, var(--color) 0% var(--progress), #ececec var(--progress) 100%);
}


.cjs-ellipse {
    display: table;
    table-layout: fixed;
    width: 98%;
    white-space: nowrap;
}
 
.cjs-ellipse > * {
    display: table-cell;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cjs-weekRow{
	margin:0; padding:0; border:0;
	position:relative;
}